{% extends 'layout.html' %}

{% block title %}Autoren{% endblock %}

{% block body %}
<h1>Autoren</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Nationalitat</th>
            <th>Hauptgenre</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autoren %}
        <tr>
            <td>{{ autor.name }}</td>
            <td>{{ autor.nationalitat }}</td>
            <td>{{ autor.genre.genre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('main_routes.home') }}">Back to home page</a>
{% endblock %}