{% extends 'layout.html' %}

{% block title %}Bucher{% endblock %}

{% block body %}
<h1>Bucher</h1>
<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Subgenre</th>
            <th>Verlag</th>
            <th>Veröffentlichungs datum</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        {% for buch in bucher %}
        <tr>
            <td>{{ buch.titel }}</td>
            <td>{{ buch.isbn }}</td>
            <td>{{ buch.subgenre.parent_genre.genre }}</td>
            <td>{{ buch.subgenre.subgenre }}</td>
            <td>{{ buch.verlag }}</td>
            <td>{{ buch.veroffentlichungsdatum }}</td>
            <td>{{ buch.preis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('main_routes.home') }}">Back to home page</a>
{% endblock %}