{% extends 'layout.html' %}

{% block title %}Bucher{% endblock %}

{% block body %}
<h1>Bucher</h1>
<form action="{{ url_for('main_routes.bucher') }}" method="GET">
    <label for="order">Nach Preis sortieren</label>
    <select name="order" id="order">
        <option value="">Standard</option>
        <option value="asc">Aufsteigend</option>
        <option value="desc">Absteigend</option>
    </select>

    <label for="subgenre">Nach Subgenre filtern</label>
    <select name="subgenre" id="subgenre">
        <option value="">Alle</option>
        {% set subgenres = bucher|map(attribute='subgenre.subgenre')|list|unique %}
        {% for subgenre in subgenres %}
        <option value="{{ subgenre }}">{{ subgenre }}</option>
        {% endfor %}
    </select>
    <button type="submit">Filtern</button>
</form>

<table>
    <thead>
        <tr>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Genre</th>
            <th>Subgenre</th>
            <th>Verlag</th>
            <th>Veröffentlichungs datum</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        {% for buch in bucher %}
        <tr>
            <td>{{ buch.titel }}</td>
            <td>{{ buch.isbn }}</td>
            <td>{{ buch.subgenre.parent_genre.genre }}</td>
            <td>{{ buch.subgenre.subgenre }}</td>
            <td>{{ buch.verlag }}</td>
            <td>{{ buch.veroffentlichungsdatum }}</td>
            <td>{{ buch.preis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('main_routes.home') }}">Back to home page</a>
{% endblock %}